{{#if editQuestionForm}}
<div class="row">
  <h3 class="header" {{action 'questionEditFormShow'}}>Edit question</h3>
</div>
<div class="row">
  <form>
    <div class="form-group">
      <label for="title">Title</label><br>
      {{input value=model.title class="title form-control"}}
    </div>

    <div class="form-group">
      <label for="author">Author</label><br>
      {{input value=model.author class="author form-control"}}
    </div>

    <div class="form-group">
      <label for="text">Text</label><br>
      {{textarea rows="15" value=model.text class="text form-control"}}
    </div>

    <button {{action 'editQuestion' model}}>Save</button>
    <button {{action 'deleteQuestion' model}}>Delete</button>

  </form>
</div>
{{else}}
  <h3 class="header" {{action 'questionEditFormShow'}}>Edit question</h3>
{{/if}}
