<div class="row">
  <h2>{{model.title}}</h2>
  <h4>-{{model.author}}</h4>
  <p class="question-text">{{model.text}}</p>
</div>

<div class="row">
  <div class="edit-question">
    {{edit-question-tile model=model editQuestion='editQuestion' deleteQuestion='deleteQuestion'}}
  </div>
</div>

<hr>

<div class="row">
  {{#each model.answers as |answer|}}
  {{question-answer-tile answer=answer}}
  {{/each}}
</div>

<div class="new-answer">
  {{new-answer-tile saveAnswer='saveAnswer' model=model}}
</div>
