<h2>{{model.title}}</h2>
<h4>-{{model.author}}</h4>
<p>{{model.text}}</p>
{{edit-question-tile model=model editQuestion='editQuestion' deleteQuestion='deleteQuestion'}}

{{#each model.answers as |answer|}}
  {{question-answer-tile answer=answer}}
{{/each}}

{{new-answer-tile saveAnswer='saveAnswer' model=model}}
